-# It has buttons to make an asynchronous request for filtering the list.
-# Required props:
-# * moving
-# * household_items

.moving_filter_forms
  / For all items: no filter applied.
  = link_to 'All', moving_household_items_path, 
    method: :get, remote: true, class: "btn btn-xs btn-info" 
  / For each tag, filter by tag when clicked.
  - moving.tags.each do |tag|
    = link_to tag.name, moving_household_items_path(filter: tag.name), 
      method: :get, remote: true, class: "btn btn-xs btn-info" 

css:
  /*The container of this component*/
  .moving_filter_forms {
    padding-bottom: 1rem;
  }
  /*Place the buttons inline and alow some space in between*/
  .moving_filter_forms > a {
    display: inline-block;
    width: auto;
    margin: 0 .3rem .3rem 0;
  }
  /*Emphasize the active button*/
  .moving_filter_forms a.active {
    background-color: #16527c;
  }
  
javascript:
  $(document).ready(function(){
    // Obtain teference to all the buttons.
    var $buttons = $('.moving_filter_forms input[type=submit]');
    
    // Add click listner to all the buttons.
    $buttons.on('click', function(){
      // Put the clicked button to active state.
      $buttons.removeClass('active')
      $(this).addClass('active')
    })
  })
