body {
  background-color: $body-bg;
}

main {
  min-height: 80vh;
}

.flash_message.alert {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100vw;
  margin-bottom: 0;
}

#flash_message_spacer {
  display: block;
  height: 54px;
}

.turbolinks-progress-bar {
  height: 3px;
  background-color: $blue;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.0rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin: 0 1rem 0 0;
  padding: 1.5rem 0;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
  .flex & {
    margin-right: auto;
  }
}

span.shrink {
  display: none;
  transition: all 0.4s ease;
  @media only screen and (min-width : 480px) {
    display: inline-block;
  }
}

// Override BS navbar's styles.
.navbar-inverse .navbar-nav > li > a {
  color: $gray-2;
  transition: all 0.4s ease;
  &:hover {
    color: white;
    background-color: rgba(255,255,255,.1);
  }
}

.navbar-inverse {
  background-color: $header-color;
  font-family: $heading-font-family;
  margin-bottom: 0;
}

// Center the nav items.
.navbar-inverse .navbar-nav a,
.navbar-inverse .navbar-nav a:hover,
.navbar-inverse .navbar-nav a:focus,
.navbar-inverse .navbar-nav .open a,
.navbar-inverse .navbar-nav .open a:hover,
.navbar-inverse .navbar-nav .open a:focus {
  text-align: center;
}

.flex {
  display: flex;
}

.gravatar_dropdown {
  // position: absolute;
  // top: 0;
  // right: 0;
  a {
    color: $gray_1;
    text-decoration: none;
  }
  .dropdown-menu {
    right: 0;
  }
}

.gravatar_link {
  padding: 0 !important;
}
.gravatar {
  margin: .7rem;
  border: 2px solid white;
  border-radius: 4px;
}

.pagination {
  border: 1px solid $link-hover-color;
  background-color: $link-hover-color
}

footer {
  font-family: $heading-font-family;
  vertical-align: middle;
  margin-top: 4rem;
  padding: 4rem 0;
  color: $gray-2;
  background: $footer-color;
  .contact-info {
    display: inline-block;
    padding: 0 5px;
  }
  .social-links {
    display: inline-block;
    float: right;
    font-size: 1.0em;
    a {
      color:inherit;
      margin: 0 .5rem;
      color: $link-hover-color;
    }
    a:hover {
      text-decoration: none;
      color: white;
    }
  }
}

.admin_form {
  border: 4px solid $red;
  padding: 0 1rem;
}

//
// Override BS3.
//
.container .jumbotron {
  background-color: $gray-1;
  border-radius: 0;
}

.alert {
  border-radius: 0;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.form-control {
  border-radius: 0;
}
